<!DOCTYPE html>
<html lang="es">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>MCR - Información</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="vendors/mdi/css/materialdesignicons.min.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="vendors/datatables.net-bs4/dataTables.bootstrap4.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <!-- endinject -->
  <link rel="shortcut icon" href="images/favicon.png" />
</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
      <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="navbar-brand-wrapper d-flex justify-content-center">
        <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">  
          <a class="navbar-brand brand-logo" href="index.html"><img th:src="@{/images/Logo.png}" alt="logo"/></a>
          <a class="navbar-brand brand-logo-mini" href="index.html"><img th:src="@{/images/Logo.png}" alt="logo"/></a>
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-sort-variant"></span>
          </button>
        </div>  
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link">
              <span class="nav-profile-name">ANDRE ACEVEDO</span>
            </a>
          </li>
          <li class="nav-item dropdown mr-4">
            <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center notification-dropdown"  href="/logout" >
              <i class="mdi mdi-logout  mx-0"></i>
              <span class="count"></span>
            </a>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
           <li class="nav-item">
            <a class="nav-link" href="/registro/listado">
              <i class="mdi mdi-home menu-icon"></i>
              <span class="menu-title">Inicio</span>
            </a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" href="/registro/agregar">
              <i class="mdi mdi-account-plus menu-icon"></i>
              <span class="menu-title">Registrar Votantes</span>
            </a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="/registro/informacion">
              <i class="mdi mdi-view-headline menu-icon"></i>
              <span class="menu-title">Información</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">
              <i class="mdi mdi-logout menu-icon"></i>
              <span class="menu-title">Salir</span>
            </a>
          </li>
         
         
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="d-flex justify-content-between flex-wrap">
                <div class="d-flex align-items-end flex-wrap">
                  <div class="mr-md-3 mr-xl-5">
                    <h2>PREGUNTAS Y RESPUESTAS</h2>
                    <p class="mb-md-0">Resuelve algunas de tus dudas...</p><br><br>
                  </div>
                </div>
              </div>
              
                     <div class="card">
                        <div class="card-body">
                            <h3 class="mb-4 mt-4">1. ¿Un jefe de comunidad puede eliminar un registro de un jefe de calle?</h3>
                            <p class="d-inline"><strong>NO.</strong><br>Los Jefes de comunidad no tiene la postestad de realizar dicha opción. Ellos unicamente pueden borrar los registros que ellos mismo en su sesión registrarón. </p>
                        </div>
                    </div>
                     <div class="card">
                        <div class="card-body">
                            <h3 class="mb-4 mt-4">2. ¿Un jefe de calle puede eliminar un registro?</h3>
                            <p class="d-inline"><strong>SI.</strong><br>Un jefe de calle puede eliminar el registro, la unica condición es que este ya registrado. </p>
                            
                            <div class="alert alert-success mt-4 d-flex align-items-center" role="alert">
                              <i class="ti-info-alt mr-4"></i>
                              <p><strong>IMPORTANTE!</strong> <br>Los registro de eliminación quedán registrado en la base de datos, esto quire decir que sabremos cuantas veces agrego o elimino a un votante.</p>
                            </div>
                        </div>
                    </div>
                     <div class="card">
                        <div class="card-body">
                            <h3 class="mb-4 mt-4">3. ¿Un Jefe de Comunidad o Calle puede ver los registros de otras Comunidades?</h3>
                            <p class="d-inline"><strong>NO.</strong> <br>Los registros realizados por cada usuario son privados, unicamente pueden ver sus registros.</p>
                        </div>
                    </div>
                     <div class="card">
                        <div class="card-body">
                            <h3 class="mb-4 mt-4">4. ¿Puede existir votantes repetidos?</h3>
                            <p class="d-inline"><strong>NO.</strong><br>El sistema esta diseñado para que no existan datos repetidos. Esto quiere decir que 2 jefes de calle o comunidad distintos no pueden ingresar al mismo votantes. </p>
                            
                            <div class="alert alert-success mt-4 d-flex align-items-center" role="alert">
                              <i class="ti-info-alt mr-4"></i>
                              <p><strong>IMPORTANTE!</strong><br> El sistema emitira un alerta cuando intenten registrar un usuario que ya está registrado.</p>
                            </div>
                        </div>
                    </div>
                     <div class="card">
                        <div class="card-body">
                            <h3 class="mb-4 mt-4">5. ¿Se te olvido tu usuario o clave?</h3>
                            <p class="d-inline">Si se te olvido tu clave o usuario, debes contactar con el administrador para que te recupere la misma. </p>
                            
                            <div class="alert alert-success mt-4 d-flex align-items-center" role="alert">
                              <i class="ti-info-alt mr-4"></i>
                              <p><strong>IMPORTANTE!</strong><br> Los usuarios son pre-creados por el administrador, no puedes crear un usuario, modificar, ni eliminar.</p>
                            </div>
                        </div>
                    </div>
            </div>
          </div>
         
          
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Alcaldía del Municipio Cristóbal Rojas 2021. <br> Alcalde Humberto Marte</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Estado Bolivariano de Miranda.  </span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="vendors/base/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script src="vendors/chart.js/Chart.min.js"></script>
  <script src="vendors/datatables.net/jquery.dataTables.js"></script>
  <script src="vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="js/off-canvas.js"></script>
  <script src="js/hoverable-collapse.js"></script>
  <script src="js/template.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="js/dashboard.js"></script>
  <script src="js/data-table.js"></script>
  <script src="js/jquery.dataTables.js"></script>
  <script src="js/dataTables.bootstrap4.js"></script>
  <!-- End custom js for this page-->
</body>

</html>

