<!DOCTYPE html>
<html lang="es">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>MCR - Bienvenidos</title>
<!-- plugins:css -->

<link rel="stylesheet"
	th:href="@{https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.9.55/css/materialdesignicons.min.css}">
<!-- endinject -->
<!-- plugin css for this page -->
<link rel="stylesheet"
	href="vendors/datatables.net-bs4/dataTables.bootstrap4.css">
<!-- End plugin css for this page -->
<!-- inject:css -->
<link rel="stylesheet" th:href="@{/css/style.css}">
<!-- endinject <link rel="shortcut icon" th:href="@{/images/favicon.png}" /> -->
<script th:src="@{/js/jquery-3.6.0.js}"></script>
<script th:src="@{/js/listado.js}" ></script>
 <style>
   table td {border:solid 1px #fab; word-wrap:break-word;}
   </style>
</head>
<body>
	<div class="container-scroller">
		<!-- partial:partials/_navbar.html -->
		<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
			<div class="navbar-brand-wrapper d-flex justify-content-center">
				<div
					class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
					<a class="navbar-brand brand-logo" href="index.html"><img
						th:src="@{/images/Logo.png}" alt="logo" /></a> <a
						class="navbar-brand brand-logo-mini" href="index.html"><img
						th:src="@{/images/Logo.png}" alt="logo" /></a>
					<button class="navbar-toggler navbar-toggler align-self-center"
						type="button" data-toggle="minimize">
						<span class="mdi mdi-sort-variant"></span>
					</button>
				</div>
			</div>
			<div
				class="navbar-menu-wrapper d-flex align-items-center justify-content-end">

				<ul class="navbar-nav navbar-nav-right">
					<li class="nav-item nav-profile dropdown"><a class="nav-link">
							<span class="nav-profile-name">ANDRE ACEVEDO</span>
					</a></li>
					<li class="nav-item dropdown mr-4"><a
						class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center notification-dropdown"
						href="/logout"> <i class="mdi mdi-logout  mx-0"></i> <span
							class="count"></span>
					</a></li>
				</ul>
				<button
					class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
					type="button" data-toggle="offcanvas">
					<span class="mdi mdi-menu"></span>
				</button>
			</div>
		</nav>
		<!-- partial -->
		<div class="container-fluid page-body-wrapper">
			<!-- partial:partials/_sidebar.html -->
			<nav class="sidebar sidebar-offcanvas" id="sidebar">
				<ul class="nav">
					<li class="nav-item"><a class="nav-link" href="/registro/listado">
							<i class="mdi mdi-home menu-icon"></i> <span class="menu-title">Inicio</span>
					</a></li>

					<li class="nav-item"><a class="nav-link" href="/registro/agregar">
							<i class="mdi mdi-account-plus menu-icon"></i> <span
							class="menu-title">Registrar Votantes</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" href="/registro/informacion">
							<i class="mdi mdi-view-headline menu-icon"></i> <span
							class="menu-title">Información</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" href="/logout"> <i
							class="mdi mdi-logout menu-icon"></i> <span class="menu-title">Salir</span>
					</a></li>


				</ul>
			</nav>
			<!-- partial -->
			<div class="main-panel">
				<div class="content-wrapper">

					<div class="row">
						<div class="col-md-12 grid-margin">
							<div class="d-flex justify-content-between flex-wrap">
								<div class="d-flex align-items-end flex-wrap">
									<div class="mr-md-3 mr-xl-5">
										<h2>Bienvenidos</h2>
										<p class="mb-md-0">Detalles de los registros 1x10</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-12 stretch-card">
							<div class="card">
								<div class="card-body">
									<h4>Votantes Registrados</h4>
									<div class="table-responsive">
										<table id="listadoVotantes" class="table">
											<thead>
												<tr>
													<th>Nombre</th>
													<th>Apellido</th>
													<th>Cédula</th>
													<th>Teléfono</th>
													<th>Centro Votación</th>
													<th>Cambio</th>
													<th>Responsable 1x10</th>
													<th>Cédula</th>
													<th>Teléfono</th>
													<th>Modificar</th>
													<th>Borrar</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="votante : ${votantes}">
													<td th:text="${votante.persona.nombres}"></td>
													<td th:text="${votante.persona.apellidos}"></td>
													<td th:text="${votante.persona.cedula}"></td>
													<td th:text="${votante.persona.telefono}"></td>
													<td th:text="${votante.centroVotacion.nombre}"></td>
													<td th:text="${votante.cambio}"></td>
													<td th:text="${votante.jefe.nombreCompleto}"></td>
													<td th:text="${votante.jefe.cedula}"></td>
													<td th:text="${votante.jefe.telefono}"></td>
													<td>
														<button type="button"  th:data-thing = "${votante.persona.cedula}"  onclick="modificar2(this.getAttribute('data-thing'));" class="btn btn-icon">
															<i class="mdi mdi-account-convert text-dark"></i>
														</button>
													</td>
													<td>
														<button type="button" id="cancelar"  class="btn  btn-icon">
															<i class="mdi mdi-delete text-dark"></i>
														</button>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- content-wrapper ends -->
				<!-- partial:partials/_footer.html -->
				<footer class="footer">
					<div
						class="d-sm-flex justify-content-center justify-content-sm-between">
						<span
							class="text-muted text-center text-sm-left d-block d-sm-inline-block">Alcaldía
							del Municipio Cristóbal Rojas 2021. <br> Alcalde Humberto
							Marte
						</span> <span
							class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
							Estado Bolivariano de Miranda. </span>
					</div>
				</footer>
				<!-- partial -->
			</div>
			<!-- main-panel ends -->
		</div>
		<!-- page-body-wrapper ends -->
	</div>
	<!-- container-scroller -->

	<!-- plugins:js <script src="vendors/base/vendor.bundle.base.js"></script> -->
	
	<!-- endinject -->
	<!-- Plugin js for this page-->
	<script th:src="@{/js/Chart.min.js}"></script>
	<script th:src="@{/js/jquery.dataTables.js}"></script>
	<script th:src="@{/js/dataTables.bootstrap4.js}"></script>
	<!-- End plugin js for this page-->
	<!-- inject:js -->
	<script th:src="@{/js/off-canvas.js}"></script>
	<script th:src="@{/js/hoverable-collapse.js}"></script>

	<!-- endinject 	<script src="js/template.js"></script> -->
	<!-- Custom js for this page-->
	
	<script th:src="@{/js/dashboard.js}"></script>
	<script th:src="@{/js/data-table.js}"></script>
	<!-- End custom js for this page-->
</body>

</html>

