<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Inicio - MCR</title>

<!-- inject:css -->
<link rel="stylesheet" href="css/style.css">
<!-- endinject -->
<link rel="shortcut icon" href="images/favicon.png" />
</head>
<body>
	<SCRIPT>
		function acceso() {
			alert("helllllllooouuuu");
			document.getElementById("formclave").submit();
		}
	</SCRIPT>
	<div class="container-scroller">
		<div class="container-fluid page-body-wrapper full-page-wrapper">
			<div class="content-wrapper d-flex align-items-center auth px-0">
				<div class="row w-100 mx-0">
					<div class="col-lg-4 mx-auto">
						<div class="auth-form-light text-left py-5 px-4 px-sm-5">
							<div class="brand-logo">
								<img src="images/Logo.png" alt="logo">
								<!-- 	<img th:src="@{/images/Logo.png}" alt="logo">  -->
							</div>
							<h4>Inicio</h4>
							<h6 class="font-weight-light">Solo personal autorizado</h6>
							<div class="signin">
								<!--  <p th:if="${error}" th:text="${error}"></p>  
								<div th:if="${error}" style="margin-bottom: 25px;">
									Usuario y/o password inválido.</div>  -->
								<p th:if="${error}" th:text="${error}"></p>
								<div th:if="${param.error}">Invalid username and password.
								</div>
								<div th:if="${param.logout}">You have been logged out.</div>

								<form th:action="@{/login}" method="post" class="formclave"
									name="formclave" id="formclave">
									<div class="form-group">
										<input type="text" name="username" required="required"
											class="form-control form-control-lg" id="username"
											placeholder="Usuario">
									</div>
									<div class="form-group">
										<input type="password" name="password" required="required"
											class="form-control form-control-lg" id="password"
											placeholder="Clave">
									</div>
									<div class="mt-3">
										<a
											class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"
											value=Acceder onclick="acceso()">INGRESAR</a>
										<!-- <button type="submit"
											class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">INGRESAR</button>
									</div> -->
										<div class="mt-3">
											<a
												class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"
												href="index.html">CANCELAR</a>
										</div>

										<div class="text-center mt-4 font-weight-light">
											Tienes algún problema para ingresar <a href="contact.html"
												class="text-primary">Contáctanos</a>
										</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- content-wrapper ends -->
		</div>
		<!-- page-body-wrapper ends -->
	</div>
	<!-- container-scroller -->
	<script src="js/jquery-3.6.0.js" type="text/javascript"></script>
	<script src="js/jquery.dataTables.js"></script>
	<script src="js/data-table.js"></script>
</body>

</html>


