<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Municipio Cristóbal Rojas</title>

<!-- End plugin css for this page -->
<!-- inject:css -->
<link rel="stylesheet" href="css/style.css">
<!-- endinject -->
<link rel="shortcut icon" href="images/favicon.png" />
<SCRIPT>
	function acceso() {
		document.getElementById("formclave").submit();
	}
</SCRIPT>
</head>
<body>
	<div class="container-scroller">

		<div class="container-fluid page-body-wrapper full-page-wrapper">
			<div
				class="content-wrapper d-flex align-items-stretch auth auth-img-bg">
				<div class="row flex-grow">
					<div
						class="col-lg-7 d-flex align-items-center justify-content-center">
						<div class="auth-form-transparent text-left p-3">

							<div class="brand-logo">
								<img src="images/Logo.png" alt="logo">
							</div>
							<h4>INICIO SESIÓN</h4>
							<h6 class="font-weight-light">Solo personal autorizado.</h6>
							<p th:if="${error}" th:text="${error}"></p>
							<div th:if="${param.error}">Usuario o clave inválida
							</div>
							<form th:action="@{/login}" method="post" name="formclave"
								id="formclave" class="pt-3">
								<div class="form-group">
									<label for="exampleInputEmail">Usuario</label>
									<div class="input-group">
										<div class="input-group-prepend bg-transparent">
											<span class="input-group-text bg-transparent border-right-0">
												<i class="mdi mdi-account-outline text-primary"></i>
											</span>
										</div>
										<input type="text"
											class="form-control form-control-lg border-left-0"
											id="username" name="username" required="required"
											placeholder="Usuario">
									</div>
								</div>
								<div class="form-group">
									<label for="exampleInputEmail">Clave</label>
									<div class="input-group">
										<div class="input-group-prepend bg-transparent">
											<span class="input-group-text bg-transparent border-right-0">
												<i class="mdi mdi-account-outline text-primary"></i>
											</span>
										</div>
										<input type="password"
											class="form-control form-control-lg border-left-0"
											id="password" name="password" required="required"
											placeholder="Clave">
									</div>
								</div>


								<div class="my-3">
									<!-- <a
										class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"
										onclick="acceso()">INGRESAR</a>  -->
									<button type="submit"
											class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">INGRESAR</button>	
								</div>
								<div class="mb-3">
									<a
										class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"
										href="/logout">CANCELAR</a>
								</div>

							</form>
						</div>
					</div>
					<div class="col-lg-5 login-half-bg d-flex flex-row">
						<p
							class="text-white font-weight-medium text-center flex-grow align-self-end">Alcaldía
							del Municipio Cristóbal Rojas &copy; 2021 Derechos Reservados</p>
					</div>
				</div>
			</div>
			<!-- content-wrapper ends -->
		</div>
		<!-- page-body-wrapper ends -->
	</div>
	<!-- container-scroller -->


	<!-- plugins:js -->
	<script src="js/jquery-3.6.0.js" type="text/javascript"></script>
	<script src="js/off-canvas.js"></script>
	<script src="js/hoverable-collapse.js"></script>
	<script src="js/dashboard.js"></script>
	<script src="js/data-table.js"></script>
	<script src="js/jquery.dataTables.js"></script>
	<script src="js/dataTables.bootstrap4.js"></script>
	<!-- End custom js for this page-->
</body>

</html>

