<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>MCR - Registro 1x10</title>
<!-- plugins:css -->
<link rel="stylesheet"
	href="vendors/mdi/css/materialdesignicons.min.css">
<!-- endinject -->
<!-- plugin css for this page -->
<link rel="stylesheet"
	href="vendors/datatables.net-bs4/dataTables.bootstrap4.css">
<!-- End plugin css for this page -->
<!-- inject:css -->
<link rel="stylesheet" th:href="@{/css/style.css}">
<!-- endinject -->
<link rel="shortcut icon" href="images/favicon.png" />
<SCRIPT>
	function acceso() {
		document.getElementById("formclave").submit();
	}
</SCRIPT>
</head>

<body>
	<div class="container-scroller">
		<!-- partial:partials/_navbar.html -->
		<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
			<div class="navbar-brand-wrapper d-flex justify-content-center">
				<div
					class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
					<a class="navbar-brand brand-logo" href="index.html"><img
						th:src="@{/images/Logo.png}" alt="logo" /></a> <a
						class="navbar-brand brand-logo-mini" href="index.html"><img
						src="images/Logo.png" alt="logo" /></a>
					<button class="navbar-toggler navbar-toggler align-self-center"
						type="button" data-toggle="minimize">
						<span class="mdi mdi-sort-variant"></span>
					</button>
				</div>
			</div>
			<div
				class="navbar-menu-wrapper d-flex align-items-center justify-content-end">

				<ul class="navbar-nav navbar-nav-right">
					<li class="nav-item nav-profile dropdown"><a class="nav-link">
							<span class="nav-profile-name">ANDRE ACEVEDO</span>
					</a></li>
					<li class="nav-item dropdown mr-4"><a
						class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center notification-dropdown"
						href="/logout"> <i class="mdi mdi-logout  mx-0"></i> <span
							class="count"></span>
					</a></li>
				</ul>
				<button
					class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
					type="button" data-toggle="offcanvas">
					<span class="mdi mdi-menu"></span>
				</button>
			</div>
		</nav>
		<!-- partial -->
		<div class="container-fluid page-body-wrapper">
			<!-- partial:partials/_sidebar.html -->
			<nav class="sidebar sidebar-offcanvas" id="sidebar">
				<ul class="nav">
					<li class="nav-item"><a class="nav-link" href="/registro/listado">
							<i class="mdi mdi-home menu-icon"></i> <span class="menu-title">Inicio</span>
					</a></li>

					<li class="nav-item"><a class="nav-link" href="/registro/agregar">
							<i class="mdi mdi-account-plus menu-icon"></i> <span
							class="menu-title">Registrar Votantes</span>
					</a></li>
					</li>
					<li class="nav-item"><a class="nav-link" href="/registro/informacion">
							<i class="mdi mdi-view-headline menu-icon"></i> <span
							class="menu-title">Información</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" href="/logout"> <i
							class="mdi mdi-logout menu-icon"></i> <span class="menu-title">Salir</span>
					</a></li>


				</ul>
			</nav>
			<!-- partial -->
			<div class="main-panel">
				<div class="content-wrapper">

					<div class="row">

						<div class="col-md-12 grid-margin">
							<div class="d-flex justify-content-between flex-wrap">
								<div class="d-flex align-items-end flex-wrap">
									<div class="mr-md-3 mr-xl-5">
										<h2>Registro de Votantes</h2>
										<p class="mb-md-0">Llene todos los datos requeridos *</p>
									</div>
								</div>
							</div>
						</div>
						<span th:if="${mensaje != null}" th:text="${mensaje}">Mensaje
							de error</span>
						<div th:if="${mensaje == null}"
							class="col-12 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<form th:action="@{/registro}" method="post"
										th:object="${votanteDTO}" class="forms-sample" id="fRegistro"
										name="fRegistro">
										<div class="row">
											<div class="col-md-6">
												<div class="form-group row">
													<label class="col-sm-3 col-form-label">Cédula: *</label>
													<div class="col-sm-9">
														<input type="text" class="form-control" id="cedula"
															name="cedula" required="required" />
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group row">
													<label class="col-sm-3 col-form-label">Nombres: *</label>
													<div class="col-sm-9">
														<input type="text" class="form-control" id="nombres"
															name="nombres" required="required" />
													</div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group row">
													<label class="col-sm-3 col-form-label">Apellidos: *</label>
													<div class="col-sm-9">
														<input type="text" class="form-control" id="apellidos"
															name="apellidos" required="required" />
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group row">
													<label class="col-sm-3 col-form-label">Teléfonos:*</label>
													<div class="col-sm-9">
														<input type="text" class="form-control" id="telefonos"
															name="telefonos" required="required" />
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group row">
													<label class="col-sm-3 col-form-label">Centro de
														Votación: *</label>
													<div class="col-sm-9">
														<select class="form-control" th:field="*{centros}">
															<option th:each="centro : ${centros}"
																th:value="${centro.centroVotacionId}"
																th:text="${centro.nombre}" />
														</select>
													</div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group row">
													<label class="col-sm-3 col-form-label">Cambio de
														Centro: *</label>
													<div class="col-sm-9">
														<select class="form-control" id="cambio" name="cambio">
															<option value="Si">Si</option>
															<option value="No">No</option>
														</select>
													</div>
												</div>
											</div>
										</div>
										<button type="submit" class="btn btn-primary mr-2">REGISTRAR</button>
										<button class="btn btn-light">CANCELAR</button>
									</form>
								</div>
							</div>
						</div>

					</div>
					<!---ROW-->

				</div>
				<!-- content-wrapper ends -->
				<!-- partial:partials/_footer.html -->
				<footer class="footer">
					<div
						class="d-sm-flex justify-content-center justify-content-sm-between">
						<span
							class="text-muted text-center text-sm-left d-block d-sm-inline-block">Alcaldía
							del Municipio Cristóbal Rojas 2021. <br> Alcalde Humberto
							Marte
						</span> <span
							class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
							Estado Bolivariano de Miranda. </span>
					</div>
				</footer>
				<!-- partial -->
			</div>
			<!-- main-panel ends -->
		</div>
		<!-- page-body-wrapper ends -->
	</div>
	<!-- container-scroller -->

	<!-- plugins:js -->
	<script src="vendors/base/vendor.bundle.base.js"></script>
	<!-- endinject -->
	<!-- Plugin js for this page-->
	<script src="vendors/chart.js/Chart.min.js"></script>
	<script src="vendors/datatables.net/jquery.dataTables.js"></script>
	<script src="vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
	<!-- End plugin js for this page-->
	<!-- inject:js -->
	<script src="js/off-canvas.js"></script>
	<script src="js/hoverable-collapse.js"></script>
	<script src="js/template.js"></script>
	<!-- endinject -->
	<!-- Custom js for this page-->
	<script src="js/dashboard.js"></script>
	<script src="js/data-table.js"></script>
	<script src="js/jquery.dataTables.js"></script>
	<script src="js/dataTables.bootstrap4.js"></script>
	<!-- End custom js for this page-->
</body>

</html>